html, body {
    touch-action: manipulation; /* Отключает жесты масштабирования */
    overscroll-behavior: contain;
}
/* Убираем focus-обводку и подсветку при тапе на мобильных */


/* Убираем серый фон при тапе в Chrome/Safari */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Если элементы кликабельные DIV'ы */
div[role="button"],
div[tabindex] {
  outline: none !important;
}
.program-card:focus,
.program-card:focus-visible {
  outline: none !important;
  background-color: inherit !important;
}
