body {
  background-color: #f9f9f9;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  padding: 35px 10px 0px 10px;
  max-width: 1100px;
  font-size: 12px;
}
/* Отключаем выделение текста и долгий tap highlight */
* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

button, input, select, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
html, body {
    touch-action: manipulation; /* Отключает жесты масштабирования */
    overscroll-behavior: contain;
}
/* Убираем focus-обводку и подсветку при тапе на мобильных */


/* Убираем серый фон при тапе в Chrome/Safari */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Если элементы кликабельные DIV'ы */
div[role="button"],
div[tabindex] {
  outline: none !important;
}
.program-card:focus,
.program-card:focus-visible {
  outline: none !important;
  background-color: inherit !important;
}
/* Кнопки */

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 6px 7px;
  font-size: 11px;
  transition: 0.15s ease;
  background: #e5e7eb;
}



.btn-blue {
  background: #2563eb;
  color: #ffffff;
  border: 1px solid #2563eb;
}

.btn-gray {
  background: #e5e7eb;
  border: 1px solid #cacaca;
}

.btn-red {
  background: #d1393d;
  color: #ffffff;
  border: 1px solid #d1393d;
}

.btn-green {
  background: #0eab48;
  color: #ffffff;
  padding: 6px 27px;
  margin-bottom: 11px;
}

/* Заголовок */

header {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 16px;
  flex-direction: row;
}
.calendar-header-left {
    font-size: 21px;
    font-weight: 700;
    padding-left: 9px;
    color: #2b3c51;
}

.calendar-header-right button {
    background: none;
    color: #2b3c51;
    padding: 0 13px;
}
/* Таблица */

table {
  /* border-collapse: collapse; */
  width: 100%;
  table-layout: fixed;
  font-size: 7px;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  /* border: 1px solid #d1d5db; */
  padding: 2px 2px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;
}

thead th {
  font-weight: 600;
  font-size: 9px;
  height: 35px;
}

td.time-cell {
  font-size: 6px;
}

.bg-yellow {
  background-color: #f9f9f9;
  border-left: none;
}
th.bg-yellow, .bg-gray {
    width: 24px;
}
.bg-gray {
  background-color: #f9f9f9;
}

.bg-blue {
  background-color: #c7d9e5;
  border: 1px solid #2b3c5124;
}

.bg-white {
  background-color: #fefefe;
}

.bg-red {
  background-color: #f9f9f9;
}

span.date {
    display: block;
    font-size: 14px;
    transform: scaleX(0.9);
    color: #2b3c51;
}

span.weekday {
    font-size: 11px;
    padding-bottom: 4px;
    display: block;
    font-weight: 200;
}
th.bg-orange span.weekday {
    font-weight: 400;
    color: #2b3c51;
}
.bg-orange {
  background-color: #fbfbfb;
}

.weekend-col {
  background-color: #fff7ed;
}

/* Ячейки */

.cell-clickable {
  cursor: pointer;
  height: 24px;
}

/* Бронирования */

.booking-wrap {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 23px;
  overflow: hidden;
}

.booking-item {
  position: relative;
  border-radius: 3px;
  padding: 1px 2px;
  font-size: 7px;
  /* background-color: #bfdbfe; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.booking-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.booking-session {
  position: absolute;
  left: 1px;
  bottom: 0;
  font-size: 6px;
  line-height: 1;
}

/* Оверлей удаления */

.booking-delete-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ef4444;
  font-size: 22px;
  border-radius: 3px;
}

/* Панель клиентов */

.client-panel {
  margin-top: 16px;
  padding: 17px 9px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  font-size: 13px;
}

.client-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-list {
  margin-top: 8px;
}

.client-card {
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  padding: 9px 14px;
  background-color: #ffffff;
  margin-bottom: 6px;
}

.client-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px;
}

.client-name {
  font-weight: 600;
}

.client-status {
  font-size: 11px;
  color: #6b7280;
  padding-left: 4px;
  font-weight: 500;
}

.client-actions {
  display: flex;
  gap: 39px;
  align-items: center;
}

.client-actions button {
  font-size: 9px;
  padding: 6px 10px;
}

/* Пакеты */

.package-details {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 12px;
  color: #4b5563;
  padding-top: 0px;
}

.package-line {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-top: 11px;
  flex-direction: row;
  justify-content: space-between;
}
span.text-gray {
    padding-left: 5px;
    font-weight: 400;
    font-size: 11px;
}
.package-remove-btn {
  font-size: 11px;
  color: #ef4444;
  background: transparent;
  padding: 0;
  font-weight: 600;
}

/* Список тренировок пакета */

.package-sessions {
  display: flex;
  margin-top: 3px;
  margin-left: 19px;
  font-size: 12px;
  color: #6b7280;
  gap: 3px;
  flex-direction: column;
  margin-bottom: 5px;
}

/* Модальные окна */

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background-color: #ffffff;
  padding: 17px 14px 14px 14px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 11px;
}

.modal h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 8px;
}

.modal p {
  margin: 0 0 7px;
  font-size: 11px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 6px 6px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  font-size: 12px;
  box-sizing: border-box;
}

.modal-actions {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.modal-actions button {
  flex: 1;
}




/* Контейнер календаря */
.calendar-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Левая часть — фиксированные 2 столбца */
.calendar-left {
  flex: 0 0 auto;
  width: 58px; /* примерно ширина двух колонок */
  z-index: 3;
  /* background: #fff; */
  /* border-right: 1px solid #d1d5db; */
  position: sticky;
  left: 0;
  backface-visibility: hidden;
}

/* Таблица времени */
.fixed-time-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  /* border-collapse: separate; */
  /* border-spacing: 0; */
}

.fixed-time-table th,
.fixed-time-table td {
  /* border: 1px solid #d1d5db; */
  text-align: center;
  font-size: 7px;
  padding: 2px;
  height: 24px;
  border-right: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  /* border-top: none; */
}
.fixed-time-table thead tr th.bg-yellow, .fixed-time-table thead tr th.bg-gray {
    height: 34px;
    font-size: 10px;
    border-top: 1px solid #f9f9f9;
    padding-top: 5px;
    color: #2b3c51;
}
/* Правая часть — сам календарь (7 дней) */
.calendar-right {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.calendar-scroll {
  overflow: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y;
}

.calendar-scroll-inner {
  display: flex;
  width: 300%;
  transform: translateX(-33.333%);
  transition: transform 1s ease-out;
  will-change: transform;
}

.calendar-week {
  flex: 0 0 33.333%;
  width: 33.333%;
  min-width: 33.333%;
  background: white;
  box-sizing: border-box;
  padding: 2px;
}
/* Пружинка при перетягивании */
.calendar-scroll.dragging {
  transition: none;
}

/* Таблицы недель */
.calendar-scroll-inner table {
  width: 100%;
  table-layout: fixed;
}





/* === Нижнее меню === */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
  border-top: 1px solid #ccc;
  padding: 8px 0;
  z-index: 999;
}

.nav-btn {
  flex: 1;
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  padding: 10px 0;
  transition: color 0.2s, background 0.2s;
}

.nav-btn.active {
  color: #0078d7;
  font-weight: bold;
}

.nav-btn:active {
  background: rgba(0,0,0,0.05);
}
/* === нав бар === */
.active-clients-bar {
  background: #f9f9f9;
  padding: 22px 5px 0px 7px;
  margin-top: 0;
}

.client-progress {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.client-progress-label {
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  width: 20%;
  min-width: 70px;
  color: #1f2d3d;
}
.client-progress-cont {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.client-progress-bar {
  height: 4px;
  background: #d5d3d3;
  border-radius: 3px;
  overflow: hidden;
  width: 80%;
  margin-right: 15px;
}

.client-progress-fill {
  height: 100%;
  background: #7b9aae;
  border-radius: 3px;
}
.client-progress-pkgSize {
    font-size: 10px;
    font-weight: 500;
    color: #2b3c51;
}
td.bg-white.cell-clickable:active,
td.bg-orange.cell-clickable:active{
    background: #e5e7eb;
}
button:active{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
td.bg-blue:active,
.cell-clickable:active{
    transform: scale(1.1);
    transition: transform 0.2s ease;
    z-index:100;
}
td.bg-white.cell-clickable,
td.bg-orange.cell-clickable,
button,
button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent; /* для мобильных */
}
